Mulberry dataset/
train/
val/
test/
/Dataset
/Dataset_Stage1
/class_mulberry
/class_not_mulberry

*.h5
*.keras
*.tflite

myenv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.idea/

node_modules/
uploads/
# App/backend/model/*.tflite

/Mullberry_leaf_optimized.ipynb